<!DOCTYPE html>
<html>
  <head><link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
 </head>
  <body>
    <h1>Vacunación contra el sarampión en niños entre 12-23 meses en Panamá del Word Bank </h1>  
    <p>
    <div>
      <h2>Peticiones a la API</h2>
      <ul>
        <li>Información general de los datos: http://127.0.0.1:5000/api/info</li>
        <li>Todos los datos: http://127.0.0.1:5000/api/datos</li>
        <li>Datos de vacunaciones por año (desde 1960): http://127.0.0.1:5000/api/año/xxxx </li>
      </ul>
    </div>
      <div>  
        <form method="post" action="{{vink}}" target="_blank">
          <span>http://127.0.0.1:5000/api/</span>
          <input name="endpoint" type="text" placeholder="año/1988/" required>
          <span class="input-group-btn"><button class="btn btn-primary" type="submit" >request</button></span>
        </form>    
      </div>
    </p>   
  </body>
</html>


